
~$*
model/custom/*
model/respeaker_shell/~$comp_respeaker.SLDASM
model2/~$batt-1200.SLDPRT
model2/~$comp2-ex.SLDASM
model2/~$comp2.SLDASM
model2/~$pisugar2_button.SLDPRT
model2/~$pisugar2_button_batch.SLDPRT
model2/~$pisugar2_switch.SLDPRT
model2/~$pisugar2Board.SLDPRT
model2/~$RaspberryPiZeroW.SLDPRT
model2/~$screw.SLDPRT
model_pro/~$18650x3-box.SLDPRT
